/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googlefonts.cn/css2?family=Saira:wght@400;600&display=swap');
@import url('https://fonts.googlefonts.cn/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googlefonts.cn/css2?family=Noto+Sans+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  min-height: calc(100vh - 200px);
  max-width: 1600px;
  @apply bg-base-200 flex flex-col pt-32 px-4 md:px-32 mx-auto justify-start;
}

.info-page {
  min-height: calc(100vh - 200px);
  @apply bg-base-200 py-24 px-12 justify-center flex flex-col lg:flex-row;
}

.content {
  white-space: pre-line;
  word-break: break-word;
}

.richtext-link {
  @apply text-accent hover:underline;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}
