/* Write your global styles here, in PostCSS syntax */
@import url('https://font.alnk.cn/css2?family=Outfit&family=Noto+Sans+SC&family=Black+Ops+One&family=Noto+Sans+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', 'Noto Sans SC', sans-serif;
}

.page {
  min-height: calc(100vh - 232px);
  max-width: 1600px;
  @apply bg-base-300 pt-32 px-4 md:px-32 mx-auto;
}

.min-h-page {
  min-height: calc(100vh - 232px);
}

.studio-page {
  max-width: 1600px;
  @apply bg-base-300 pt-32 px-4 md:px-32 mx-auto min-h-screen;
}

.info-page {
  min-height: calc(100vh - 232px);
  @apply bg-base-300 py-24 px-2 md:px-12 justify-center flex flex-col lg:flex-row;
}

.studio-info-page {
  @apply bg-base-300 py-24 px-2 md:px-12 justify-center flex flex-col lg:flex-row min-h-screen;
}

.title {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}

.title-strong {
  font-size: 1.25rem;
  line-height: 1.4rem;
  font-weight: 800;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @apply content-dense;
}

.content {
  white-space: pre-line;
  word-break: break-word;
}

.content-dense {
  white-space: pre-line;
  word-break: break-word;
  @apply leading-5;
}

.result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
}

.result-tight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(201px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
}

.background {
  background-attachment: fixed;
  display: grid;
  background-size: cover;
  background-position: center;
}
.background > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.richtext-link {
  @apply text-emerald-800 dark:text-emerald-200 hover:underline;
}

.normal-border {
  @apply border-gray-400 dark:border-gray-700;
}

.btn-shallow {
  @apply dark:btn-neutral;
}

.rounded-cropper .cropper-view-box,
.rounded-cropper .cropper-face {
  border-radius: 50%;
}

.font-code {
  font-family: 'Noto Sans Mono', 'Noto Sans SC', ui-monospace, monospace;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}
